 .login-container {
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: url('../../static/images/b2.jpg');
     background-size: 100%;
     background-color: #fff;
     background-repeat: no-repeat;
 }

 .login-form {
     max-width: 400px;
     padding: 25px 20px 20px;
     border: 1px solid #e2e2e2;
     border-radius: 4px;
     background: #fff;
     box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.2);
     h1 {
         text-align: center;
         font-size: 34px;
         margin-bottom: 20px;
     }
     .ant-form-item {
         margin-bottom: 10px;
     }
 }

 p {
     &.copy-right {
         color: #333;
         bottom: 0;
         position: absolute;
     }
 }

 .login-form-forgot {
     float: right;
 }

 .login-form-button {
     width: 100%;
 }