.logo {
  font-size: 34px;
  font-style: italic;
  text-align: center;
  color: #fff;
  width: 240px;
  height: 64px;
  line-height: 64px;
  background: rgba(255, 255, 255, 0.2);
  // margin: 0 10px 0 10px;
  float: left;
}